# Token de tu bot obtenido desde @BotFather en Telegram
TELEGRAM_BOT_TOKEN=TU_TOKEN_AQUI

# Opcional: Ruta a un archivo cookies.txt para sitios que requieran inicio de sesión (como Instagram o Facebook)
COOKIES_FILE=cookies.txt
